<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find assembly_updated)/urdf/assembly_updated.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="spawn_conveyor_belt"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find assembly_updated)/urdf/conveyor_belt.urdf -urdf -model conveyor_belt" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find assembly_updated)/urdf//cs_as_robot_3.rviz" />
</launch>
